h1 {
    color: red;
    text-align: center;
  }

  h2 {
    color: green;
    text-align: center;
  }

  h3 {
    font-size: 40px;
    text-align: center;
  }

  hr {
    background-color: red;
    width: 1800px;
    height: 20px;
  }
  

  div, main, section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  

  img {
    display: block;
    margin: 10px;
    width: 300px; 
  }
  
  a {
    text-decoration: none;
  }


  a:hover {
    opacity: 0.7;
  }

  a:visited{
    color: black;
  }



  
